.App {
  text-align: center;
}

.nav ul {
  padding-top: 50px;
  display: flex;
  width: 250px;
  margin: 0 auto;
  justify-content: space-between;
  list-style-type: none;
}

.nav li {
  font-size: 18px;
}

.counter-container {
  display: flex;
  flex-direction: column;
}

.counter-container button {
  margin-right: 8px;
}
